@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

/* Theme Styles
--------------------------------------------- */
:root {
    --text-primary: 'Work Sans', sans-serif;
}

/* Colors */
:root {
    --c-primary: #fb0049;
    --c-light: #fff;
    --c-dark: #000;
}

body {
    font-family: var(--text-primary);
}

/* a,
a:hover,
a:focus,
a:visited {
    
} */

.site-content,
.woo-header,
.woo-footer > .container {
    padding: 0 1rem;
    max-width: 1600px;
    margin: auto;
}

.site-content {
    padding-block: 1rem;
}

/* Buttons */

.btn {
    display: block;
    text-decoration: none;
    color: inherit;
}

/* Header
--------------------------------------------- */
.woo-header {
	display: grid;
    grid-template-columns: 1fr 1fr;
	align-items: center;
    border-bottom: 1px solid #000;
    background-color: #fff;

    position: sticky;
    top: 0;
    z-index: 99;
}

.woo-header > div,
.woo-footer > div {
	padding: 1rem;
}

.site-branding img {
	width: 200px;
}

.logo_text {
    color: var(--c-dark);
    font-family: var(--text-primary);
    font-weight: 700;
    font-size: 1.5rem;
}

.woo-header-widgets {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.woo-header-widgets i {
    color: var(--c-dark);
    font-size: 1.2rem;
}

.woo-header-widgets .menu-toggle {
    border: 0;
    border-radius: 0;
    background: none;
    padding: 0;
}

.woo-footer {
    background-color: var(--c-dark);
}

.woo-footer .logo_text {
    color: var(--c-light);
}

.woo-footer .container {
	display: grid;
    grid-template-columns: 1fr;
	align-items: center;
}

/* Site Navigation
--------------------------------------------- */
.woo-header-navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: var(--c-light);
}

.menu-primary-menu-container {
    width: 100%;
    padding: 1rem;
}

.woo-header-navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.woo-header-navigation ul li {
    width: 100%;
	padding: 1rem;
    background-color:var(--c-light);
    border: 1px solid var(--c-dark);
}

.woo-header-navigation ul li a {
    color: var(--c-dark);
	font-family: var(--text-primary);
    font-weight: 600;
}

/* Hero Featured
--------------------------------------------- */


/* Products Grid
--------------------------------------------- */
.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.product {
    border: 1px solid var(--c-dark);
    padding-bottom: 0.5rem;
}

.product a {
    text-decoration: none;
    color: inherit;
}

.product img {
    width: 100%;
    border-bottom: 1px solid var(--c-dark);
}

.productCard-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.product h2 {
    font-size: 0.9rem;
    font-weight: 600;
    margin-block: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product .price del {
    display: none;
}

.addToCart {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.3rem;
    border: 1px solid var(--c-dark);
    margin-inline: 0.5rem;
}